.sidenav-container {
  height: 100%;
}
.color-routerLinkActive{
  background: rgb(12,150,26);
}

.sidenav {
  width: 300px;
  
}
.idMenuNav{
  background: rgb(12,150,26);
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.3cm;
  padding-left: 10cm;
}


.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
