.titulo{
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:slategray;
    margin-left: 39%;
     
}

.tabla-contenedor{
    margin-top: 3cm;
}