<br>
<div class="container" >
    <div class="card">
        <img class="img-card" src="../assets/vehiculo.png">
        <h4> Vehiculos infractores</h4>
        <p>Total : 105</p>
    </div>

    <div class="card">
        <img  class="img-card" src="../assets/personas.png">
        <h4> Personas Juridicas y Naturales infractores</h4>
        <p>Total : 31</p>
    </div>

    <div class="card">
       <img   class="img-card" src="../assets/pagina-principal.png">
       <h4> Regresar a la pagina principal </h4>
       <a href="http://www.muniviru.gob.pe/web/portal/">Presione aquí</a>
    </div>
</div><br><br>



<div  class="banner-home">
    <img src="../assets/home-parte1.png">
    <div class="fecha">
        <p id="diaSemana"></p>
        <p id="dia" class="diaclass"></p>
        <p> de </p>
        <p id="mes"></p>
        <p> del </p>
        <p id="year"></p>
    </div>
    <div class="hora">
       <p id="horas" ></p>
       <p> : </p>
       <p id="minutos"></p>
       <p> : </p>
       <p id="segundos" class="segundos"></p>
       <p id="ampm" class="ampm"></p>
    </div>
</div>
